
.shape{
    font-weight: 700;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.border {
    border-width: 4px 2px 4px 2px; /* top, right, bottom, left */
    border-style: solid;
}


.peer:focus{
  border-color: #2563eb;
  cursor: pointer;
}

.peer {
  border-width: 4px;
  border-color: #a0aec0;
  padding: 0.25rem;
  border-radius: 0.75rem;
}

